<%= form_with model: goal, local: true do |f| %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <%= f.label :create_at, "開始日" %>
        <%= f.date_select :create_at,  {:use_month_numbers  => true}, {class: 'form-control', style: 'display: inline-block;width: auto;'} %>
        <%= f.label :end_on, "終了日" %>
        <%= f.date_select :end_on,  {:use_month_numbers  => true}, {class: 'form-control', style: 'display: inline-block;width: auto;'} %>
        <%= f.label :name, "目標" %>
        <%= f.text_field :name, class: "form-control", autofocus: true, placeholder: "目標" %>
      </div>

      <div class="col-6">
        <%= f.label :name, "タスク" %>
        <%= f.fields_for :tasks do |task| %>
          <%= render 'task_fields', :f => task %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'add task', f, :tasks %>
        </div>
        <%= f.submit btn, class: "btn btn-success" %>
      </div>
    </div>
  </div>
<% end %>
