<div class="background">
  <div class="container">
    <div class="row">
      <div class="col centre">
        <div class="login-signup_box">
          <h1>設定</h1><br>
          <%= form_for(current_user, url: update_users_path, method: :patch) do |f| %>
            <div>
              <% if @mypage_flag.present? %>
                 <%= hidden_field_tag :m_flg, 1 %>
              <% end %>
            </div>
            <div class="col centre">
              <%= attachment_image_tag(current_user, :profile_image, :id => "preview", :size =>'200x200', :style =>"border-radius: 80%", fallback: "no-image-icon.png") %>
              <%= f.attachment_field :profile_image, class: "form-control-file user_image" %>
              </div><br>
            <div>
              氏名<br><%= f.text_field :name, autofocus: true, class: "name" %>
            </div><br>
            <div>
              メールアドレス<br><%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div><br>

            <%= f.submit '編集内容を保存', class: "btn btn-success" %>
            <%= link_to  "退会する", users_unsubscribe_path, class: "btn btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$('#user_profile_image').on('change', function(){
	var $fr = new FileReader();
	$fr.onload = function(){
		$('#preview').attr('src', $fr.result);
	}
	$fr.readAsDataURL(this.files[0]);
});
</script>
