<!--top写真1-6-->
<div class="top-box1 background-img"></div>
<div class="clear-blue"></div>
<div class="clear-blue-1" id="about"></div>
<div class="top-box2 background-img"></div>
<div class="clear-blue"></div>
<div class="top-box3 background-img"></div>
<div class="clear-blue"></div>
<div class="top-box4 background-img"></div>
<div class="clear-blue"></div>
<div class="top-box5 background-img"></div>
<div class="clear-blue"></div>
<div class="top-box6 background-img"></div>
<div class="col centre">
  <div class="box">
    <!--ゲストログイン-->
    <h3>ポートフォリオ閲覧用</h3><br>
    <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: "btn btn-success" %><br><br>
    <!--お問い合わせ-->
    <%= form_with url: create_inquiry_path, model: @inquiry, local:true do |f| %>
      この度はFOCUSをご訪問いただき誠にありがとうございます。<br>
      本アプリは、実際に管理者が子供の頃から抱いていた疑問をシステムを作ることにより効率化したものとなっております。<br>
      各々の夢に向かって高め合う友達と刺激し合いながら全員がHappyになれるようにと思い作成しました。<br>
      「こんな機能があったら良いね！」や「ここは改善したほうがいい。」等、ご意見・ご感想がありましたら、<br>
      ぜひコメントにてお知らせいただけますと幸いです。(どんなに些細なことでも構いません！)<br>
      皆様からいただきましたアドバイスを今後の作品改善や学習に取り入れて参りたいと思います。<br><br>
      <h3>お問い合わせフォーム</h3>
      <div>名前</div>
      <div><%= f.text_field :name %></div><br>
      <div>メールアドレス</div>
      <div><%= f.email_field :email %></div><br>
      <div>ご意見・ご感想</div>
      <div><%= f.text_area :message %></div><br>
      <div>
        <p><%= f.submit "管理者へメッセージを送信", class: "btn btn-info" %></p>
      </div>
    <% end %>
  </div>
</div>
